body {
    background-color: #fea39c;
    font-family: 'Hiragino Sans';
}

.main {
    height: 100vh;
    display: flex;
}

.calculator {
    height: 550px;
    width: 370px;
    background-color: #494947;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 20px 5px rgba(0,0,0,0.45);
}

.screen {
    background-color: #bdc19c;
    box-sizing: border-box;
    height: 80px;
    width: 334px;
    text-align: end;
    border-radius: 8px;
    box-shadow: inset 0px 0px 6px 3px rgba(0,0,0,0.35);
}

#displayLast {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
}

#displayCurrent {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 23px;
}

#displayCurrent, #displayLast {
    box-sizing: border-box;
    width: 334px;
    height: 40px;
    padding-right: 13px;
}

.calc-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 76px);
    grid-template-rows: repeat(5, 76px);
    gap: 10px;
}

.calc-btns {
    color: #494947;
    background-color: #e5e1db;
    border: 0px;
    border-radius: 3px;
    box-shadow: 0px 2.5px 2px 1px rgba(0,0,0,0.5);
    font-size: 16px;
}

.calc-grid > button:hover {
    background-color: #a4b1be;
    color: #f3f3ef;
}

.span-col {
    grid-column: span 2;
    background-color: #f1ca7d;
}

#equal:hover {
    background-color: #bdc19c;
}

.inputted {
    background-color: #a4b1be;
    color: #f3f3ef;
}

.inputtedEquals {
    background-color: #bdc19c;
    color: #f3f3ef;
}